.loggedInHeadingWrapper {
    position: relative;
}

.loggedInHeading {
    display: grid;
    grid-template-columns: 90% 10%;
}

.loggedInHeading i {
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
    color: #222;
    cursor: pointer;
}

.loggedInHeading i:hover {
    color: #d40075
}

.addedInformation {
    position: absolute;
    top: 2px;
    right: 12%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 3px 8px;
    font-size: 0.75rem;
    text-align: center;
}

.contentWrapper {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 50px;
}

.channelInformation {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
}

.channelInformation img {
    width: 100%;
}

.links {
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
}

.link {
    text-decoration: none;
    color: #222;
    font-weight: bold;
    font-family: 'Merriweather';
    padding: 8px 16px;
    border-radius: 25px;
    box-shadow: 1px 1px 3px #999;
    text-align: center;
}

.link:hover {
    color: #d40075;
}

.goBack {
    font-weight: bold;
    cursor: pointer;
}

.goBack i {
    margin-right: 8px;
}

.scheduleContent {
    margin: 15px 8px;
}

.scheduleContent:nth-last-of-type(1) {
    margin: 15px 8px 30px 8px;
}

.scheduleContent p {
    color: #d40075;
}

@media (min-width: 768px) {

    .addedInformation {
        top: 7px;
        right: 10%;
    }

    .contentWrapper {
        margin-top: 30px;
    }

    .channelInformation {
        grid-template-columns: 30% 65%;
        column-gap: 5%;
        align-items: center;
    }

    .goBack {
        margin-top: 70px;
    }

}

@media (min-width: 992px) {

    .addedInformation {
        right: 9%;
    }

    .contentWrapper {
        margin-top: 35px;
    }

    .goBack {
        margin-top: 100px;
    }

}

@media (min-width: 1200px) {

    .contentWrapper {
        grid-template-columns: 64% 30%;
        column-gap: 6%;
    }

    .links {
        grid-template-columns: 100%;
        row-gap: 10px;
        align-items: center;
        padding: 30px 0;
    }

}