.loggedInWrapper {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 5px;
}

.contentWrappers {
    margin: 20px 0 5px 0;
}

.favoriteObjects {
    display: grid;
    grid-template-columns: 28% 28% 28%;
    column-gap: 8%;
    row-gap: 20px;
    margin: 20px 0 3px 0;
}

.favoriteObject {
    position: relative;
}

.favoriteObject a img {
    width: 100%;
    border-radius: 5px;
}

.favoriteObject i {
    justify-self: center;
    font-size: 1.8rem;
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
}

.favoriteObject i:hover {
    color: #d40075;
}

.favoriteObject p {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

.noFavorites {
    margin-top: 15px;
}

.loggedOutWrapper {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
}

.loginLink {
    width: 120px;
    text-decoration: none;
    background-color: #d40075;
    color: white;
    font-weight: bold;
    font-family: 'Merriweather';
    padding: 8px 16px;
    border-radius: 25px;
    box-shadow: 1px 1px 3px #999;
    text-align: center;
    margin-top: 30px;
}

.loginLink:hover {
    background-color: white;
    color: #d40075;
}

.registerLink {
    text-decoration: none;
    color: #d40075;
    margin-top: 5px;
}