.navbar {
    border-bottom: 1px solid #bbb;
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 5px 10px 0 10px;
}

.navbar h1 {
    font-size: 5rem;
}

.navbar h1 a {
    text-decoration: none;
    color: #222;
}

.dot {
    color: #d40075;
}

.menu {
    cursor: pointer;
    font-size: 3rem;
    align-self: center;
    justify-self: center;
    padding-top: 5px;
}

.links {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 15px 0 25px 0;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 2%;
    row-gap: 8%;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: #222;
    font-weight: bold;
    font-family: 'Merriweather';
    padding: 8px 16px;
    border-radius: 25px;
    box-shadow: 1px 1px 3px #999;
    text-align: center;
}

.newBlogLink {
    background-color: #d40075;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 8px 0 20px 0;
}

.pink {
    color: #d40075;
}