.navbar {
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 5px 10px 0 10px;
}

.navbar h1 {
    font-size: 5rem;
}

.navbar h1 a {
    text-decoration: none;
    color: #222;
}

.dot {
    color: #d40075;
}

.navLinks {
    display: none;
}

.menu {
    cursor: pointer;
    font-size: 3rem;
    align-self: center;
    justify-self: center;
    padding-top: 5px;
}

.links {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 15px 0 25px 0;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 2%;
    row-gap: 8%;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: #222;
    font-weight: bold;
    font-family: 'Merriweather';
    padding: 8px 16px;
    border-radius: 25px;
    box-shadow: 1px 1px 3px #999;
    text-align: center;
}

.link:hover {
    color: #d40075;
}

.loggedInLinks {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 8px 0 20px 0;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
}

.loggedInLinks a {
    background-color: #d40075;
    color: white;
}

.loggedInLinks a:hover {
    background-color: white;
    color: #d40075;
}

.loginLink {
    background-color: #d40075;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 8px 0 20px 0;
}

.loginLink:hover {
    background-color: white;
    color: #d40075;
}

.pink {
    color: #d40075;
}

@media (min-width: 768px) {

    .navbar {
        grid-template-columns: 85% 15%;
        padding: 5px 15px 0 20px;
    }

    .links {
        width: 70%;
        justify-self: center;
        column-gap: 3%;
        row-gap: 15%;
        padding: 15px 0 45px 0;
    }

}

@media (min-width: 992px) {

    .navbar {
        grid-template-columns: 90% 10%;
    }

    .links {
        width: 100%;
        grid-template-columns: 15% 15% 15% 15% 32%;
        column-gap: 2%;
        padding: 15px 0 20px 0;
        align-items: end;
    }

    .loggedInLinks {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-template-columns: 47% 47%;
        column-gap: 6%;
        margin: 0;
        width: 100%;
    }

    .loginLink {
        grid-column-start: 5;
        grid-column-end: 6;
        margin: 0;
    }

}

@media (min-width: 1200px) {

    .navbar {
        grid-template-columns: 25% 75%;
    }
    
    .navLinks {
        display: grid;
        grid-template-columns: 14% 14% 14% 14% 36%;
        column-gap: 2%;
        align-items: end;
        margin-bottom: 16px;
    }

    .menu {
        display: none;
    }

    .links {
        display: none;
    }

}