.loggedInHeadingWrapper {
    position: relative;
}

.loggedInHeading {
    display: grid;
    grid-template-columns: 90% 10%;
}

.loggedInHeading i {
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
    color: #222;
    cursor: pointer;
}

.loggedInHeading i:hover {
    color: #d40075;
}

.addedInformation {
    position: absolute;
    top: 2px;
    right: 12%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 3px 8px;
    font-size: 0.75rem;
    text-align: center;
}

.contentWrapper {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 50px;
}

.programInformation, .contact {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
}

.programInformation img {
    width: 100%;
}

.contact h3, .contact p {
    text-align: center;
}

.contactInformation {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 15px;
}

.socialMediaLinks {
    display: flex;
    justify-content: center;
}

.socialMediaLinks a {
    text-decoration: none;
    color: #d40075;
    font-size: 3rem;
    margin: 0 5px;
}

.goBack {
    font-weight: bold;
}

.goBack i {
    margin-right: 8px;
}

@media (min-width: 768px) {

    .addedInformation {
        top: 7px;
        right: 10%;
    }

    .contentWrapper {
        margin-top: 30px;
    }

    .programInformation {
        grid-template-columns: 30% 65%;
        column-gap: 5%;
        align-items: center;
    }

    .goBack {
        margin-top: 70px;
    }

}

@media (min-width: 992px) {

    .addedInformation {
        right: 9%;
    }

    .contentWrapper {
        margin-top: 35px;
    }

    .goBack {
        margin-top: 100px;
    }

}

@media (min-width: 1200px) {

    .contentWrapper {
        grid-template-columns: 64% 30%;
        column-gap: 6%;
    }

    .contact {
        align-self: center;
    }

}