.programWrapper {
    margin: 15px 0;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
}

.program {
    text-decoration: none;
    color: #222;
    display: grid;
    grid-template-columns: 10% 88%;
    column-gap: 2%;
}

.program img {
    width: 100%;
    align-self: center;
}

.program h3 {
    align-self: center;
}

.showMore {
    margin: 10px 0;
    outline: none;
    color: #222;
    background-color: white;
    font-weight: bold;
    font-family: 'Merriweather';
    padding: 8px 16px;
    border: none;
    border-radius: 25px;
    box-shadow: 1px 1px 3px #999;
    grid-column-start: 1;
    grid-column-end: 2;
}

.showMore:hover {
    cursor: pointer;
    color: #d40075;
}

.goBack {
    font-weight: bold;
}

.goBack i {
    margin-right: 8px;
}

@media (min-width: 768px) {

    .programWrapper {
        margin: 30px 0 15px 0;
    }

    .showMore {
        width: 200px;
        justify-self: center;
    }

    .goBack {
        margin-top: 30px;
    }

}

@media (min-width: 992px) {

    .programWrapper {
        margin-top: 35px;
    }

    .goBack {
        margin-top: 50px;
    }

}

@media (min-width: 1200px) {

    .programWrapper {
        grid-template-columns: 23% 23% 23% 23%;
        column-gap: 2%;
        row-gap: 25px;
        justify-content: center;
        align-items: start;
    }

    .program {
        grid-template-columns: 100%;
        row-gap: 5px;
        text-align: center;
    }

    .program img {
        border-radius: 5px;
    }

    .showMore {
        grid-column-start: 2;
        grid-column-end: 4;
    }

}